node_modules/
dist/
.env
.env.*
!.env.example
/data/
*.local
*.log
npm-debug.log*
.DS_Store
Thumbs.db
coverage/
.vscode/
*.tsbuildinfo
migration/v1tov2/data/photo_before
migration/v1tov2/data/photo_after